In [15]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import geopandas as gpd
from shapely.geometry import Point
con = sqlite3.connect('HW2.db')

In [12]:
query = "select Application_Status, x, y from cannabis where Application_Status != 'Withdrawn'"
cannabis = pd.read_sql_query(query, con)
cannabis

,Application_Status,x,y
0,Approved BCB - Executed HCA - Pending CCC,-71.0711305920434,42.3038486640959
1,Open for Operations,-71.114390400915,42.2985766206975
2,Open for operation,-71.114390400915,42.2985766206975
3,Open for Operations,-71.0614305945262,42.364668674379
4,Conditionally approved,-71.170382999469,42.2683097088496
...,...,...,...
58,Approved,-71.0795305996831,42.3821386766087
59,Approved BCB - Executed HCA - Pending CCC,-71.1280406120948,42.3576186703038
60,Approved,-71.0540713083717,42.359414682258
61,Approved,-71.0840705963286,42.2809986592004
62,Approved,-71.0417805813241,42.28596866082

In [13]:
crime_22 = pd.read_csv('boston_crime_2022.csv', low_memory=False)
crime_22 = crime_22[(crime_22['Lat'] >= 42.2) & (crime_22['Lat'] <= 42.4)]
crime_22 = crime_22[(crime_22['Long'] >= -71.2) & (crime_22['Long'] <= -71)]
crime_22

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,222076257,619,NaN,LARCENY ALL OTHERS,D4,167,0,2022-01-01 00:00:00,2022,1,Saturday,0,NaN,HARRISON AVE,42.339542,-71.069409,"(42.33954198983014, -71.06940876967543)"
1,222053099,2670,NaN,HARASSMENT/ CRIMINAL HARASSMENT,A7,,0,2022-01-01 00:00:00,2022,1,Saturday,0,NaN,BENNINGTON ST,42.377246,-71.032597,"(42.37724638479816, -71.0325970804128)"
2,222039411,3201,NaN,PROPERTY - LOST/ MISSING,D14,778,0,2022-01-01 00:00:00,2022,1,Saturday,0,NaN,WASHINGTON ST,42.349056,-71.150498,"(42.34905600030506, -71.15049849975023)"
3,222011090,3201,NaN,PROPERTY - LOST/ MISSING,B3,465,0,2022-01-01 00:00:00,2022,1,Saturday,0,NaN,BLUE HILL AVE,42.284826,-71.091374,"(42.28482576580488, -71.09137368938802)"
4,222062685,3201,NaN,PROPERTY - LOST/ MISSING,B3,465,0,2022-01-01 00:00:00,2022,1,Saturday,0,NaN,BLUE HILL AVE,42.284826,-71.091374,"(42.28482576580488, -71.09137368938802)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73846,222101107,3111,NaN,LICENSE PREMISE VIOLATION,A1,,0,2022-12-31 23:11:00,2022,12,Saturday,23,NaN,CAUSEWAY ST,42.365375,-71.061542,"(42.365374796420454, -71.06154161481645)"
73847,232000091,1402,NaN,VANDALISM,A1,66,0,2022-12-31 23:30:00,2022,12,Saturday,23,NaN,CHARLES ST,42.359790,-71.070782,"(42.35979037458775, -71.07078234449541)"
73848,232000002,3831,NaN,M/V - LEAVING SCENE - PROPERTY DAMAGE,C11,,0,2022-12-31 23:37:00,2022,12,Saturday,23,NaN,COLUMBIA RD,42.319593,-71.062607,"(42.31959298334654, -71.06260699634272)"
73849,232000140,619,NaN,LARCENY ALL OTHERS,D14,778,0,2022-12-31 23:45:00,2022,12,Saturday,23,NaN,WASHINGTON ST,42.349056,-71.150498,"(42.34905600030506, -71.15049849975023)"
73851,232000052,3114,NaN,INVESTIGATE PROPERTY,A1,,0,2022-12-31 23:50:00,2022,12,Saturday,23,NaN,MOUNT VERNON ST,42.357879,-71.069680,"(42.357878706878985, -71.06967973039733)"

In [23]:
crime_loc = [Point(xy) for xy in zip(crime_22['Long'], crime_22['Lat'])]
crime_gdf = gpd.GeoDataFrame(crime_22, geometry=crime_loc)
crime_gdf

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location,geometry
0,222076257,619,NaN,LARCENY ALL OTHERS,D4,167,0,2022-01-01 00:00:00,2022,1,Saturday,0,NaN,HARRISON AVE,42.339542,-71.069409,"(42.33954198983014, -71.06940876967543)",POINT (-71.06941 42.33954)
1,222053099,2670,NaN,HARASSMENT/ CRIMINAL HARASSMENT,A7,,0,2022-01-01 00:00:00,2022,1,Saturday,0,NaN,BENNINGTON ST,42.377246,-71.032597,"(42.37724638479816, -71.0325970804128)",POINT (-71.03260 42.37725)
2,222039411,3201,NaN,PROPERTY - LOST/ MISSING,D14,778,0,2022-01-01 00:00:00,2022,1,Saturday,0,NaN,WASHINGTON ST,42.349056,-71.150498,"(42.34905600030506, -71.15049849975023)",POINT (-71.15050 42.34906)
3,222011090,3201,NaN,PROPERTY - LOST/ MISSING,B3,465,0,2022-01-01 00:00:00,2022,1,Saturday,0,NaN,BLUE HILL AVE,42.284826,-71.091374,"(42.28482576580488, -71.09137368938802)",POINT (-71.09137 42.28483)
4,222062685,3201,NaN,PROPERTY - LOST/ MISSING,B3,465,0,2022-01-01 00:00:00,2022,1,Saturday,0,NaN,BLUE HILL AVE,42.284826,-71.091374,"(42.28482576580488, -71.09137368938802)",POINT (-71.09137 42.28483)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73846,222101107,3111,NaN,LICENSE PREMISE VIOLATION,A1,,0,2022-12-31 23:11:00,2022,12,Saturday,23,NaN,CAUSEWAY ST,42.365375,-71.061542,"(42.365374796420454, -71.06154161481645)",POINT (-71.06154 42.36537)
73847,232000091,1402,NaN,VANDALISM,A1,66,0,2022-12-31 23:30:00,2022,12,Saturday,23,NaN,CHARLES ST,42.359790,-71.070782,"(42.35979037458775, -71.07078234449541)",POINT (-71.07078 42.35979)
73848,232000002,3831,NaN,M/V - LEAVING SCENE - PROPERTY DAMAGE,C11,,0,2022-12-31 23:37:00,2022,12,Saturday,23,NaN,COLUMBIA RD,42.319593,-71.062607,"(42.31959298334654, -71.06260699634272)",POINT (-71.06261 42.31959)
73849,232000140,619,NaN,LARCENY ALL OTHERS,D14,778,0,2022-12-31 23:45:00,2022,12,Saturday,23,NaN,WASHINGTON ST,42.349056,-71.150498,"(42.34905600030506, -71.15049849975023)",POINT (-71.15050 42.34906)
73851,232000052,3114,NaN,INVESTIGATE PROPERTY,A1,,0,2022-12-31 23:50:00,2022,12,Saturday,23,NaN,MOUNT VERNON ST,42.357879,-71.069680,"(42.357878706878985, -71.06967973039733)",POINT (-71.06968 42.35788)

In [25]:
cannabis_loc = [Point(xy) for xy in zip(cannabis['x'], cannabis['y'])]
cannabis_gdf = gpd.GeoDataFrame(cannabis, geometry=cannabis_loc)
cannabis_gdf

,Application_Status,x,y,geometry
0,Approved BCB - Executed HCA - Pending CCC,-71.0711305920434,42.3038486640959,POINT (-71.07113 42.30385)
1,Open for Operations,-71.114390400915,42.2985766206975,POINT (-71.11439 42.29858)
2,Open for operation,-71.114390400915,42.2985766206975,POINT (-71.11439 42.29858)
3,Open for Operations,-71.0614305945262,42.364668674379,POINT (-71.06143 42.36467)
4,Conditionally approved,-71.170382999469,42.2683097088496,POINT (-71.17038 42.26831)
...,...,...,...,...
58,Approved,-71.0795305996831,42.3821386766087,POINT (-71.07953 42.38214)
59,Approved BCB - Executed HCA - Pending CCC,-71.1280406120948,42.3576186703038,POINT (-71.12804 42.35762)
60,Approved,-71.0540713083717,42.359414682258,POINT (-71.05407 42.35941)
61,Approved,-71.0840705963286,42.2809986592004,POINT (-71.08407 42.28100)
62,Approved,-71.0417805813241,42.28596866082,POINT (-71.04178 42.28597)

In [27]:
cannabis_buffers = cannabis_gdf.geometry.buffer(0.5)
cannabis_gdf

,Application_Status,x,y,geometry
0,Approved BCB - Executed HCA - Pending CCC,-71.0711305920434,42.3038486640959,POINT (-71.07113 42.30385)
1,Open for Operations,-71.114390400915,42.2985766206975,POINT (-71.11439 42.29858)
2,Open for operation,-71.114390400915,42.2985766206975,POINT (-71.11439 42.29858)
3,Open for Operations,-71.0614305945262,42.364668674379,POINT (-71.06143 42.36467)
4,Conditionally approved,-71.170382999469,42.2683097088496,POINT (-71.17038 42.26831)
...,...,...,...,...
58,Approved,-71.0795305996831,42.3821386766087,POINT (-71.07953 42.38214)
59,Approved BCB - Executed HCA - Pending CCC,-71.1280406120948,42.3576186703038,POINT (-71.12804 42.35762)
60,Approved,-71.0540713083717,42.359414682258,POINT (-71.05407 42.35941)
61,Approved,-71.0840705963286,42.2809986592004,POINT (-71.08407 42.28100)
62,Approved,-71.0417805813241,42.28596866082,POINT (-71.04178 42.28597)